@font-face {
    font-family: 'marcellus';
    src: url(font/MarcellusSC-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imagens/black-texture.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: black;
    box-shadow: 0 0 1em black;
}

header h1{
    color: aliceblue;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'marcellus';
    font-variant: small-caps;
    font-size: 50px;
}

main{
    background-image: url(imagens/17544.png);
    background-size: cover;
    max-width: 500px;
    height: 98vh;
    margin: auto;
    text-align: center;
}

main > p{
    padding: 30px;
    font-size: 20px;
    font-family: 'marcellus';
}

#nome{
    height: 36px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0.473);
    border: 2px solid rgba(0, 0, 0, 0.315);
    
}

#verificar{
    height: 40px;
    width: 80px;
    font-family: 'marcellus';
}

#informaçoes{
    padding-bottom: 20px;
}

table{
    margin: auto;
    border-collapse: collapse;
}

#divjessica{
    display: none;
}
#divjonas{
    display: none;
}

th, td{
    border: 1px solid black;
    padding: 5px 5vh;
    background-color: rgba(240, 248, 255, 0.562);
}

footer{
    background-color: black;
    text-align: center;
    padding: 5px;
}

footer > a{
    text-decoration: none;
    color: aliceblue;
}